{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 2%">

        <img src="{{ asset('build/images/footHome.jpg') }}" style="height: 300px;width: 550px">
        <img src="{{ asset('build/images/basketHome.jpg') }}" style="height: 300px;width: 550px">
        <h1 style="font-family: 'Bauhaus 93';margin-left: 36%;font-size: 60px;color:#111111">JUST DO IT</h1>
    </div>


{% endblock %}